<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
</head>
<body>
    <form action="/login/verified" method ="POST">
        <div class="form-group">
          <label for="exampleInputPhoneNumber">PhoneNumber</label>
          <input type="number" class="form-control" name="phonenumbervalue"  placeholder="Enter PhoneNumber">
        </div>
        <div class="form-group">
          <label for="exampleInputChannel">Channel</label>
          <input type="text" class="form-control" name ="channelvalue" placeholder="Password">
        </div>
     
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>
</html>